---
layout: default
---


<div class="intro">
	<a href="{{ post.url }}" class="todays-reading">
	{% for post in site.posts limit:1 %} 
		<p class="label">Today's Reading · {{ post.date | date: '%A %b %-d' }}</p>
		<p class="title">{{ post.scripture }}</p>
		<p class="author">{{ post.author }}</p>
		<p class="excerpt">{{ post.excerpt | strip_newlines | truncate: 200}}</p>
		<p class="read-on">Read on </p>
	{% endfor %}
	</a>
	<div class="contents">
		<p class="label">Contents</p>
	</div>
</div>

<a href="/about" class="about">
	<p>In a year of disruption and heartache, we hope this devotional brings peace and comfort. <span>Read Pastor Curt’s introduction</span></p>
</a>

<section class="week-readings">
	<p class="label">Week 1 (11/29—12/5)</p>
	<h2>Do Not Be Afraid to <span>Hold Hope</span></h2>
	<figure class="week-image">
		<img src="" alt="">
	</figure>
	<div class="week-context">
		<div class="memory-passage">
			<p class="label">Memory Passage</p>
			<p> {{ site.week_1_passage}}</p>
		</div>
		<div class="weekly-practice">
			<p class="label">Weekly Practice</p>
			<p> {{ site.week_1_practice}}</p>
		</div>
	</div>
	<div class="week-readings">
		<p class="label">Week 1 Readings</p>
		<div class="readings-container">
		{% for post in site.posts reversed %}
			{% if post.week == 1 %}
			<a href="{{ post.url }}"> {{ post.date | date: "%A %b %-d, %Y"}}</a>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	
</section>

<section class="week-readings">
	<p class="label">Week 2 (12/6—12/12)</p>
	<h2>Do Not Be Afraid to <span>Bring Peace</span></h2>
	<figure class="week-image">
		<img src="" alt="">
	</figure>
	<div class="week-context">
		<div class="memory-passage">
			<p class="label">Memory Passage</p>
			<p> {{ site.week_2_passage}}</p>
		</div>
		<div class="weekly-practice">
			<p class="label">Weekly Practice</p>
			<p> {{ site.week_2_practice}}</p>
		</div>
	</div>
	<div class="week-readings">
		<p class="label">Week 2 Readings</p>
		<div class="readings-container">
		{% for post in site.posts reversed %}
			{% if post.week == 2 %}
			<a href="{{ post.url }}"> {{ post.date | date: "%A %b %-d, %Y"}}</a>
			{% endif %}
		{% endfor %}
		</div>
	</div>
	
</section>

<section class="week-readings">
	<p class="label">Week 3 (12/13—12/19)</p>
	<h2>Do Not Be Afraid to <span>Practice Joy</span></h2>
	<figure class="week-image">
		<img src="" alt="">
	</figure>
	<div class="week-context">
		<div class="memory-passage">
			<p class="label">Memory Passage</p>
			<p> {{ site.week_3_passage}}</p>
		</div>
		<div class="weekly-practice">
			<p class="label">Weekly Practice</p>
			<p> {{ site.week_3_practice}}</p>
		</div>
	</div>
	<div class="week-readings">
		<p class="label">Week 3 Readings</p>
		<div class="readings-container">
		{% for post in site.posts reversed %}
			{% if post.week == 3 %}
			<a href="{{ post.url }}"> {{ post.date | date: "%A %b %-d, %Y"}}</a>
			{% endif %}
		{% endfor %}
		</div>
	</div>

</section>

<section class="week-readings">
	<p class="label">Week 4 (11/20—12/23)</p>
	<h2>Do Not Be Afraid to <span>Choose Love</span></h2>
	<figure class="week-image">
		<img src="" alt="">
	</figure>
	<div class="week-context">
		<div class="memory-passage">
			<p class="label">Memory Passage</p>
			<p> {{ site.week_4_passage}}</p>
		</div>
		<div class="weekly-practice">
			<p class="label">Weekly Practice</p>
			<p> {{ site.week_4_practice}}</p>
		</div>
	</div>
	<div class="week-readings">
		<p class="label">Week 4 Readings</p>
		<div class="readings-container">
		{% for post in site.posts reversed %}
			{% if post.week == 4 %}
			<a href="{{ post.url }}"> {{ post.date | date: "%A %b %-d, %Y"}}</a>
			{% endif %}
		{% endfor %}
		</div>
	</div>

</section>

<section class="week-readings">
	<p class="label">Week 5 (Christmas!)</p>
	<h2>Do Not Be Afraid to <span>Shine Light</span></h2>
	<figure class="week-image">
		<img src="" alt="">
	</figure>
	<div class="week-context">
		<div class="memory-passage">
			<p class="label">Memory Passage</p>
			<p> {{ site.week_5_passage}}</p>
		</div>
		<div class="weekly-practice">
			<p class="label">Weekly Practice</p>
			<p> {{ site.week_5_practice}}</p>
		</div>
	</div>
	<div class="week-readings">
		<p class="label">Week 5 Reading</p>
		<div class="readings-container">
		{% for post in site.posts %}
			{% if post.week == 5 %}
			<a href="{{ post.url }}"> {{ post.date | date: "%A %b %-d, %Y"}}</a>
			{% endif %}
		{% endfor %}
		</div>
	</div>

</section>



