---
---
@charset "utf-8";

// Colors

$white-01: rgba(255,255,255, 1);

$black-01: rgba(0,0,0,.86);
$black-02: rgba(0,0,0,.54);
$black-03: rgba(0,0,0,.42);
$black-04: rgba(0,0,0,.16);
$black-05: rgba(0,0,0,.08);
$black-06: rgba(0,0,0,.02);


// Shadows


// Transitions



// Widths
$body-content-width: 38rem;

$break-large: 1400px;
$break-medium: 960px;
$break-small: 760px;
$break-tiny: 440px;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"type",
	"base"
;
