html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 16px;

  @media all and (min-width: $break-large) { font-size: 110%; }
  @media all and (max-width: $break-small) { font-size: 104%; }
}

*, *:before, *:after { box-sizing: inherit; }

body {
  background: #FBFAF7;
  // background-image: url("/src/img/bg-pattern.png");
  // background-size: 300px;
  color: $black-01;
  font-family: sans-serif;
  font-size: 1rem;
  font-variant-ligatures: normal;
  line-height: 140%;
  margin: 1rem auto 8rem auto;
  max-width: 1000px;
  overflow-x: hidden;
  padding: 0 2em;
  transition: all 100ms ease-out;

  @media all and (min-width: $break-large) { max-width: 1140px; }
  @media all and (max-width: $break-small) { padding: 0 1.5rem; }

}

h1 {
  font-family: $serif;
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 120%;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  @include serif-medium;

  color: $black-01;
  line-height: 150%;
}

a:link,
a:visited {
  color: $blue-02;
  text-decoration: none;
}

a:hover,
a:active {
  color: $blue-03;
  text-decoration: underline;
}

ol {
  list-style: none;
  counter-reset: li-counter 0;

  li {
    counter-increment: li-counter;
    padding: 0 0 0 .5em;
   
    &::marker {
      @include serif-medium;

      content: counter(li-counter) ".";
      color: $black-01;
      font-weight: bold;
    }
  }
} // ol


.label {
  @include sans-extra-small;
  color: $brown-02;
  font-weight: bold;
}

blockquote {
  margin: 2rem 3rem 3rem 3rem;

  p { 
    font-family: $serif;
    font-style: italic;
    line-height: 170%;
    margin: 0;
    padding: 0;
  }

  .source {
    @include sans-small;
    color: $brown-02;
    margin-top: 0.5rem;
  }
}


figure {
  margin: 2rem auto;
  width: auto;

  img { width: 100%; }

  figcaption {
    @include sans-extra-small;

    color: $brown-02;
    margin: 0.5rem auto;
    max-width: 320px;
    text-align: center;
  }
}

hr {
  background-color: $brown-04;
  border: none;
  display: block;
  height: 2px;
  margin: 5rem auto;
  width: 20rem;
}

table { margin: 3rem 0 2rem 0; }
td {
  margin: 2rem 0;
  padding-right: 1rem;
  vertical-align: top;

  p {
    @include serif-small;
    color: $black-03;
    margin: 0.5rem 0;
  }
}

.author {
  @include sans-small;
  margin-bottom: 3rem;

  color: $brown-02;
}