/* === Primary Nav === */

nav	{
	margin: 0 auto 4rem auto;
	width: fit-content;

	&:hover {
		&:before {
			transform: rotate(-6deg);
			
			@media all and (max-width: $break-medium) {
				transform: rotate(224deg);	
			}
		}

	 	&:after {
	 		transform: rotate(6deg);
	 		
	 		@media all and (max-width: $break-medium) {
				transform: rotate(154deg);	
			}
	 	}
	} // :hover

	&:before {
		content: url("/src/img/holly-left.svg");
		display: inline-block;
		margin-left: -120px;
		position: absolute;
		transition: all 200ms ease-in-out;
		vertical-align: top;
		width: 120px;
		z-index: -1;

		@media not all and (min-resolution:.001dpcm) { 
			@supports (-webkit-appearance:none) {
    		margin: -10px 0 0 -60px;
				transform: rotate(230deg);
		}}

		@media all and (max-width: $break-medium) {
			margin: -10px 0 0 -60px;
			transform: rotate(232deg);	
		}
	}

	&:after {
		content: url("/src/img/holly-right.svg");
		display: inline-block;
		margin: 20px 0 0 12px;
		position: absolute;
		transition: all 200ms ease-in-out;
		vertical-align: top;
		width: 120px;
		z-index: -1;

		@media not all and (min-resolution:.001dpcm) { 
			@supports (-webkit-appearance:none) {
    		margin: -65px 0 0 294px;
				transform: rotate(144deg);
		}}

		@media all and (max-width: $break-medium) {
			margin: 18px 0 0 -64px;
			transform: rotate(148deg);	
		}
		
	} // :after

	a { 
	 	background: $white-01;
	 	border: double $brown-04;
	 	border-radius: 8px;
	 	display: inline-block;
	 	padding: 0.5rem 1rem;
	 	text-decoration: none;
	 	transition: all 200ms;
	 	width: fit-content;

	 	&:hover { transform: scale(1.04);	}

 		&:active { transform: scale(1.03); } 
	}

 .nav-content {
		display: flex;

		img {
			max-height: 40px;
			margin: 0.5rem 0;
			max-width: 9rem;

			@media all and (max-width: $break-medium) { max-width: 9rem; }
			@media all and (max-width: $break-small) { max-width: 6rem; }
		} // img

		.divider {
			background-color: $brown-04;
			margin: 0 1rem;
			width: 1px;
		}

		.label {
			margin: 0.5rem 0 0.2rem 0;
		}

		.title {
			font-size: 1.3rem;
			margin: 0;

			@media all and (max-width: $break-medium) { font-size: 1.2rem; }
		}

  } // .nav-content
} // nav



/* === Footer === */