html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  
  font-size: 16px;
  text-rendering: optimizeLegibility;

  @media all and (min-width: $break-large) { font-size: 110%; }
  @media all and (max-width: $break-small) { font-size: 104%; }
}

*, *:before, *:after { box-sizing: inherit; }

body {
  background: #FBFAF7;
  background-image: url("/src/img/bg-pattern.png");
  background-size: 50% 30%;
  color: $black-01;
  font-family: sans-serif;
  font-size: 1rem;
  font-variant-ligatures: normal;
  line-height: 140%;
  margin: 2rem auto 8rem auto;
  max-width: 1100px;
  overflow: scroll;
  padding: 0 2em;

  @media all and (min-width: $break-large) { max-width: 1280px; }
  @media all and (max-width: $break-small) { width: 100%; }
  @media all and (max-width: $break-tiny) { padding: 0 1rem; }

}

p {
  @include serif-medium;

  color: $black-01;
  line-height: 140%;
}